
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/


*{
    margin: 0;
    /*margin: 10px;*/
    /*margin: 1.5rem;*/
    /*margin: 1.5em;*/
}


#backColour{
    background-color: lightgray;
}
body{
    background-color: tan;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/ahmed-abbas-dPrVq_7xbm8-unsplash.jpg");
}
#idatt{
    color:red;
}
.ccolour{
    color:blue;
}
.loremp{
    font-family: "Times New Roman", times, serif;
}
/*h3{*/
/*    color: red;*/
/*}*/
#lorem{
    font-size: 250%;
    /*color:rgb(0,0,255);*/
    color: #0000ff;
}
/*[class]{*/
/*    background-color: yellow;*/
/*}*/
/*[href]{*/
/*    background-color: yellow;*/
/*}*/
[href="https://www.w3schools.com"]{
    background-color: yellow;
}
[href^=".."]{
    border: green 4px dotted;
}
[href$="template.html"]{
    background-color: white;
}
[href$="template.html"]:hover{
    background-color: yellow;
}
#lorem::first-letter{
    color: red;
    font-size: 150%;
}
/*section p{*/
/*    background-color: pink;*/
/*}*/
section>h3+p+p{
    background-color: pink;
}
li>ol>li:first-child{
    color: red;
}
li>ol>li:last-child{
    color: green;
}
li>ol>li:nth-child(2){
    color: orange;
}
li>ol>li:nth-child(3){
    color: yellow;
}
/********************************************/
#wrapper{
    background-color: rgba(61, 52, 41, 0.86);
    color: tan;
}
h1{
    font-size: 450%;
    text-shadow: 3px 3px 10px black;
}
h2,h3, h4, h5, h6{
    color: violet;
}
header, footer, main{
    /*border: 6px dotted green;*/
    margin: 0 1.5em;
    padding: 2em;
}
.buttons{
    color:tan;
    text-decoration: none;
    border: 4px solid purple;
    padding: 10px;
    /*display: block;*/
    margin: 0.5em;
    border-radius: 30px;
    background-image: linear-gradient(to bottom,rebeccapurple,violet);
    box-shadow: 4px 4px 4px black;
}

header p{
    font-size: 10px;
}
header{
    text-align: center;
    height: 100vh;
    position: relative;
}
header>section{
    border: 6px solid saddlebrown;
    position: relative;
    top:30%;
    left: 10%;
    width: fit-content;
    background-image: linear-gradient(to bottom,tan,saddlebrown);
    padding: 2em;
    border-radius: 40px 0;
    box-shadow: 8px 8px 10px black;
}
header>img{
    position: absolute;
    bottom: 100px;
    right: 10px;
}
#infoSection,#listSection,footer,#loremSection{
    height: 100vh;
    /*width: 50vw;*/
    /*margin: 0 auto;*/
    /*border: solid 4px red;*/
}
/***************************************************/
@font-face {
    font-family: headerFont;
    src: url("../fonts/Roboto-Regular.ttf");
}
header{
   font-family: headerFont, sans-serif;
}
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
nav{
    /*text-align: center;*/
    position: sticky;
    top: 2px;
    z-index: 1;
    background-color: rgba(128, 0, 128, 0.7);
}
nav>ul{
    list-style-type: none;
    padding: 0;
    /*border: dotted red 6px;*/
    overflow: hidden;
    /*text-align: center;*/
    margin: 0 auto;
    width: fit-content;
}
nav>ul>li>a{
    text-decoration: none;
    color: tan;
    padding: 14px 16px;
    display: block;
    text-align: center;
}
nav li{
    float: left;
}
nav li>a:hover{
    background-color: rebeccapurple;
}
#listSection ul>li:nth-child(even){
    background-color: lightgoldenrodyellow;
    width: fit-content;

}
#listSection ul>li:nth-child(2n-1){
    background-color: lightblue;
    width: 50%;
}
#imageSection h2+a,#imageSection h2+a+img{
    /*float: right;*/
}
figure{
    clear: both;
}
#imageSection h2+figure{
    /*float: right;*/
    /*text-align: center;*/
    border: red dashed 6px;
    width: fit-content;
    margin: 0 auto;
}