body{
    background-color: tan;
}
table, td, th {
    border: solid black 2px;
    border-collapse: collapse;
}
table{
    width: 70%;
    margin: 1em auto;
}
h2 {
text-align: center;
}

#rtable tfoot {
    text-align: center;
}
#rtable

