*{
    /*  start(*) we use to apply to all code */
     /*margin: 0; */
   /* margin: 1.5em; */
   /* margin: 1.5em; */
    margin: 10px;
}
#backcolor{
    background-color: lightgray;
}
body{
    background-color: tan;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/ahmed-abbas-gcbn2xXQNDQ-unsplash.jpg");
}
#idatt {
    color: red;
}

.ccolour {
    color: blue;
}
.loremp {
    font-family: "Times New Roman", times, serif;
}
#lorem{
    font-size: 150%;
    color: rgb(0 ,0 , 255);
    color: #0000FF;
;
}
/*section p{
    background-color: white;
}*/
section>p{
    background-color: white;
}
[class]{
    background-color: yellow;
}
/*[href]{
    background-color: yellow;
}*/
[href="https://www.w3schools.com/"]{
    background-color: blue;
}
[href^=".."]{
    border: red;
}
[href$="template.html"]{
    background-color: white;
}
#lorem::first-letter{
    font-size: 200%;
    color: green;
}
section>h3+p{
    background-color: blue;
}
/*li ol li:first-child{
    color: red
}*/
li>ol>li:first-child{
    color: red;
}
li>ol>li:nth-child(3){
    color: blue;
}
li>ol>li:nth-child(2){
    color: olive;
}
li>ol>li:last-child{
    color: yellow;
}
/****************************************************/
#wrapper{
    background-color: rgba(56 ,48 , 37, 0.85);
    color: tan;
}
h1{
    font-size: 450%;
    text-shadow: 3px 3px 10px purple;
}
h1, h2 , h3 , h4 , h5 , h6 {
    color: purple;
}
header , main , footer {
    border: 6px dotted green ;
    margin: 0 1.5em;
    padding: 0 1.5em;
}
.buttons {
    text-decoration: none;
    border: 4px solid purple;
    padding: 10px;
    margin: 0.5em;
    border-radius: 30px;
    background-image: linear-gradient(to bottom,rebeccapurple,violet);
    box-shadow: 4px 4px 4px black;
}
nav{
    text-align: center;
    position:sticky;
    top: 18px;
    z-index: 1;
}
header p {
    font-size: 10px;
}
header {
    text-align: center;
    height: 100vh;
    position: relative;
}
header>section {
    border: solid 6px saddlebrown;
    position: absolute;
    top: 30%;
    left: 10%;
    background-image: linear-gradient(to bottom,tan,saddlebrown);
    padding: 2em;
    border-radius: 40px 0;
    box-shadow: 6px 6px 8px black;
}
header>img {
    position: absolute;
    bottom: 100px;
    right: 10px;
}
#infoSection, #loreSection, #listSection, footer {
    height: 100vh;
}